
#preloader{
    width: 100%;
    height: 100vh;
    background: #fff
        url('../res/477.gif') no-repeat center;
    position: fixed;
    z-index: 100;
}

#root{
    display:none;
}

.form-container{
    /* background: #3b3b3b; */
    font-family: 'Noto Sans TC', sans-serif;
    border: 2px solid #000;
    border-radius: 50px;
    width: 45vw;
    height:600px;
}

.banner{
    font-size: 30px;
    letter-spacing:0.0001px;
}

.banner img{
    width: 64px;
    height: 64px;
}

.sign-in{
    font-size: 30px;
}

#email_label,#password_label{
    height:15px;
    padding: 0;
    margin:0;
}

#email_input,#password_input{ 
    font-size: 15px;
    height: 55px;
}

#contact_links{
    letter-spacing: 5px;
    font-size: 25px;
}

@media screen and (max-width:820px){
    .form-container{
        border:0;
        width: 100vw;
    }
    .banner{
        font-size: 25px;
    }
    
    .banner img{
        width: 40px;
        height: 40px;
    }

    .sign-in{
        font-size: 22px;
    }
}
